.booking_box {
  position: fixed;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100% !important;
}

.box {
  position: absolute;
  display: none;
  width: 400px;
  height: 350px;
  background-color: #f5f5f5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 20px;
}

.close {
  display: flex;
  float: right;
  width: 25px;
  height: 25px;
  background-color: #8a2225;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffff;
  font-size: 13px;
  cursor: pointer;
}

.box_title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

label {
  font-size: 15px;
}

select {
  width: 80px;
  height: 30px;
  margin: 10px 10px 0 0;
  border: 1px solid #ccc;
}

input {
  width: 200px;
  height: 25px;
  background-color: #8a2225;
  color: #f5f5f5;
  font-size: 13px;
  font-weight: bold;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  margin: 20px;
}

.button {
  display: flex;
  justify-content: center;
}
.date {
  margin: 10px 20px;
}

@media screen and (max-width: 479px) {
  .box {
    width: 350px;
    height: 400px;
  }
}
