.main_nav .current_page a {
  color: #8a2225;
  text-shadow: #ccc 0.2em 0.2em 0.2em;
}

.banner_wrap {
  width: 100%;
}

.banner_wrap .pic img {
  width: 100%;
  height: calc(100vh - 150px);
}

.facility_page_title {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: #6d1114da;
  font-weight: bold;
  margin: 5%;
}

.facility_page_title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30%;
  height: 1px;
  background-color: #6d1114da;
  transform: translateY(-50%);
}

.facility_page_title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background-color: #6d1114da;
  transform: translateY(-50%);
  left: 5%;
}

.facility_block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.facility_wrap {
  width: 100%;
  display: flex;
  margin: 30px 0 30px 0;
  justify-content: center;
}

.facility_wrap_even {
  width: 100%;
  display: flex;
  margin: 30px 0 30px 0;
  justify-content: center;
}

.facility_pic img {
  width: 500px;
  height: 350px;
}

.facility_txt {
  border: 1px solid #cdd4d6;
  padding: 60px 75px 60px 50px;
  color: #231815;
  position: relative;
  text-align: center;
}

.facility_txt_even {
  border: 1px solid #cdd4d6;
  padding: 60px 50px 60px 75px;
  margin-left: -60px;
  margin-top: 60px;
  color: #231815;
  position: relative;
  text-align: center;
}

.facility_type {
  position: absolute;
  padding: 10px 20px;
  color: #8a2225;
  background: #fff;
}

.facility_type_even {
  position: absolute;
  padding: 10px 20px;
  color: #8a2225;
  background: #fff;
}

.facility_title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #231815;
}

.facility_intro {
  font-size: 10px;
  color: #231815;
}

.facility_opening {
  font-size: 15px;
  padding: 50px;
  line-height: 2.5;
  color: #666;
}

.facility_note {
  font-size: 15px;

  line-height: 2.5;
  color: red;
}
@media screen and (min-width: 1200px) {
  .facility_type_even {
    top: -20px;
    right: 30px;
  }
  .facility_type {
    top: -20px;
    left: 30px;
  }

  .facility_txt {
    width: calc(35% + 60px);
    min-height: 80%;
    margin-right: -60px;
    margin-top: 60px;
  }

  .facility_txt_even {
    width: calc(35% + 60px);
    min-height: 80%;
    margin-left: -60px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner_wrap .pic img {
    height: 500px;
  }
  .facility_type_even {
    top: -20px;
    right: 30px;
  }
  .facility_type {
    top: -20px;
    left: 30px;
  }

  .facility_txt {
    width: calc(35% + 60px);
    min-height: 80%;
    margin-right: -60px;
    margin-top: 60px;
  }

  .facility_txt_even {
    width: calc(35% + 60px);
    min-height: 80%;
    margin-left: -60px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .banner_wrap .pic img {
    height: 400px;
  }
  .facility_page_title::after,
  .facility_page_title::before {
    display: none;
  }
  .facility_wrap {
    width: 100%;
    flex-direction: column-reverse;
  }

  .facility_wrap_even {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .facility_pic {
    text-align: center;
    margin-top: 30px;
  }
  .facility_pic img {
    width: 60%;
    height: 250px;
  }

  .facility_txt {
    width: 60%;
    margin: auto;
  }

  .facility_txt_even {
    width: 60%;
    margin: auto;
  }
  .facility_type {
    top: 20px;
    left: 10px;
  }
  .facility_type_even {
    top: 20px;
    right: 10px;
  }
}
@media screen and (min-width: 479px) and (max-width: 768px) {
  .banner_wrap .pic img {
    height: 300px;
  }
  .facility_page_title::after,
  .facility_page_title::before {
    display: none;
  }
  .facility_wrap {
    width: 100%;
    flex-direction: column-reverse;
  }

  .facility_wrap_even {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .facility_pic {
    text-align: center;
    margin-top: 30px;
  }
  .facility_pic img {
    width: 70%;
    height: 250px;
  }

  .facility_txt {
    width: 70%;
    margin: auto;
  }

  .facility_txt_even {
    width: 70%;
    margin: auto;
  }
  .facility_type {
    top: 20px;
    left: 10px;
  }
  .facility_type_even {
    top: 20px;
    right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .banner_wrap .pic img {
    height: 200px;
  }
  .facility_page_title::after,
  .facility_page_title::before {
    display: none;
  }
  .facility_wrap {
    width: 100%;
    flex-direction: column-reverse;
  }

  .facility_wrap_even {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .facility_pic {
    text-align: center;
    margin-top: 30px;
  }
  .facility_pic img {
    width: 90%;
    height: 250px;
  }

  .facility_txt {
    width: 90%;
    margin: auto;
  }

  .facility_txt_even {
    width: 90%;
    margin: auto;
  }
  .facility_type {
    top: 20px;
    left: 10px;
  }
  .facility_type_even {
    top: 20px;
    right: 10px;
  }
}
