* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Verdana", "PingFang TC", "Heiti TC", "微軟正黑體", sans-serif;
}

a {
  color: #666;
}

.main_header {
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 10%);
}

.main_header .logo a {
  display: block;
  width: 150px;
  height: 60px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
}

.booking {
  display: flex;
  height: 40px;
  width: 90px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #8a2225;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer_wrap {
  width: 100%;
  margin-top: 10%;
  background-color: #fafafa;
}

.footerbox {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.contact_type {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  color: #b3b3b3;
  padding: 0 20px;
}

.contact {
  display: flex;
  font-size: 15px;
  padding: 0 20px;
}

.social a {
  padding: 0 0 0 20px;
}

.social a img {
  border-radius: 4px 4px 4px 4px;
  width: 20px;
  height: 20px;
}

.bottombox {
  border: 1px solid #e3e3e3;
}

.footer_info,
.notice {
  font-size: 13px;
  line-height: 1.8;
  color: #bfbfbf;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hb {
    display: none;
  }

  #menu_switch {
    display: none;
  }

  .main_header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 10%);
  }

  .main_nav {
    display: flex;
    width: 60%;
    justify-content: flex-end;
  }

  .main_header .main_nav ul li {
    margin-right: 50px;
    display: inline-block;
    list-style: none;
  }

  .main_header .main_nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
  }

  .main_header .main_nav a:hover {
    color: #8a2225;
    text-shadow: #ccc 0.1em 0.1em 0.1em;
    transition: 0.5s ease;
  }
  .booking {
    right: 5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hb {
    width: 50px;
    height: 50px;
    background-color: #8a2225;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }

  .hb span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 80px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
  }

  .hb span:first-child {
    top: 15px;
  }

  .hb span:nth-child(2) {
    top: 0;
    bottom: 0;
  }

  .hb span:last-child {
    bottom: 15px;
  }

  #menu_switch {
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .main_nav a {
    display: block;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .main_nav {
    display: flex;
    line-height: 1.5;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .booking {
    right: 10%;
  }
  #menu_switch:checked ~ .main_header .main_nav {
    opacity: 1;
    left: 0;
    transition: opacity 0.5s;
  }

  #menu_switch:checked ~ .main_header .hb span:first-child {
    top: 23px;
    transform: rotate(-315deg);
    transition: top 0.5s, transform 0.5s 0s;
  }

  #menu_switch:checked ~ .main_header .hb span:nth-child(2) {
    display: none;
  }

  #menu_switch:checked ~ .main_header .hb span:last-child {
    bottom: 24px;
    transform: rotate(-225deg);
    transition: bottom 0.5s, transform 0.5s;
  }
}

@media screen and (max-width: 991px) {
  .hb {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #8a2225;
    position: absolute;
    position: fixed;
    top: 5px;
    right: 0;
    z-index: 999;
  }

  .hb span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 80px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
  }

  .hb span:first-child {
    top: 15px;
  }

  .hb span:nth-child(2) {
    top: 0;
    bottom: 0;
  }

  .hb span:last-child {
    bottom: 15px;
  }

  #menu_switch {
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .main_nav a {
    display: block;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .main_nav {
    display: flex;
    line-height: 1.5;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .booking {
    right: 15%;
  }

  #menu_switch:checked ~ .main_header .main_nav {
    opacity: 1;
    left: 0;
    transition: opacity 0.5s;
  }

  #menu_switch:checked ~ .main_header .hb span:first-child {
    top: 23px;
    transform: rotate(-315deg);
    transition: top 0.5s, transform 0.5s 0s;
  }

  #menu_switch:checked ~ .main_header .hb span:nth-child(2) {
    display: none;
  }

  #menu_switch:checked ~ .main_header .hb span:last-child {
    bottom: 24px;
    transform: rotate(-225deg);
    transition: bottom 0.5s, transform 0.5s;
  }
}
