.home_page_news_wrap {
  width: 1200px;
  display: flex;
  margin: auto;
}

.news_title,
.restaurant_title {
  text-align: center;
  font-size: 30px;
  color: #666;
  margin: 80px;
}

.newscard {
  width: 50%;
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px #c5c2c2;
}

.news_pic img {
  width: 100%;
  height: 300px;
  vertical-align: top;
  border-radius: 10px 10px 0 0;
}

.news_date {
  font-size: 10px;
  padding: 10px 0 5px 10px;
}

.news_txt {
  font-size: 15px;
  padding: 0 0 10px 10px;
}

.about_wrap {
  display: table;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin: 10% 0 10% 0;
}

.about_wrap {
  background-image: url(https://www.grand-hotel.org/fileupload/Building/TW/7.jpg);
}

.about_card {
  display: table-cell;
  vertical-align: middle;
}

.about_txt {
  max-width: 500px;
  background-color: #fff;
  opacity: 0.85;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}

.about_title {
  text-align: center;
  font-weight: 500;
  padding-bottom: 20px;
}

.about_card .about {
  font-size: 18px;
  letter-spacing: 0.3em;
  line-height: 2;
}

.home_room_wrap {
  width: 100%;
  margin: 50px 0 0 0;
  display: flex;
}

.home_room_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px 0;
}

.room_txt {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 20%);
  margin-bottom: 80px;
  margin-right: -30px;
}

.room_title {
  font-size: 30px;
  padding: 10px;
}

.room_txt .type {
  font-size: 20px;
  padding: 5px;
  color: #8a2225;
}

.room_txt .content {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 2;
  padding: 30px;
  color: #666;
}

.room_pic {
  width: 600px;
  position: relative;
}

.room_pic img {
  width: 100%;
}

.room_pic .more {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3b3b386;
  font-size: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 1s ease-in-out;
}

.room_pic .more p {
  color: #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.room_pic .more:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slider_wrap {
    height: calc(100% - 400px);
  }
  .home_page_news_wrap {
    width: 100%;
  }

  .news_date {
    font-size: 10px;
    padding: 10px 0 5px 10px;
  }

  .news_txt {
    font-size: 15px;
    padding: 0 0 10px 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .slider_wrap {
    height: calc(100% - 300px);
  }
  .home_page_news_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .newscard {
    width: 100%;
  }

  .home_room_block {
    width: 100vw;
    display: inline-block;

    padding: 0;
  }

  .room_txt {
    width: 100vw;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 20%);
  }
  .room_pic {
    width: 100vw;
    bottom: 10%;
  }

  .room_pic img {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .about_txt {
    width: calc(100% - 40px);
  }
  .slider_wrap {
    height: calc(100% - 300px);
  }
  .home_page_news_wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  .newscard {
    width: 100%;
  }
  .news_pic img {
    height: 200px;
  }
  .home_room_block {
    width: 100vw;
    display: inline-block;
    padding: 0;
  }

  .room_txt {
    width: 100vw;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 20%);
  }
  .room_pic {
    width: 100vw;
    bottom: 20%;
  }

  .room_pic img {
    width: 100%;
  }
}
