.main_nav .current_page a {
  color: #8a2225;
  text-shadow: #ccc 0.2em 0.2em 0.2em;
}

.news_page_title {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: #6d1114da;
  font-weight: bold;
  margin: 20px auto;
}
.news_page_title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30%;
  height: 1px;
  background-color: #6d1114da;
  transform: translateY(-50%);
}

.news_page_title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background-color: #6d1114da;
  transform: translateY(-50%);
  left: 5%;
}
.banner_wrap .pic img {
  width: 100%;
  height: calc(100vh - 150px);
}

.news_pic {
  position: relative;
}

.news_card {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 2px #c5c2c2;
}

.news_pic img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  vertical-align: top;
  border-radius: 10px 10px 0 0;
}

.news_txt {
  line-height: 30px;
  padding: 20px;
}

.news_txt_title {
  text-align: center;
  color: rgb(68, 67, 67);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b3b0b0;
}

.news_txt p {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  line-height: 24px;
  text-align: left;
}

.news_card .info {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c1c1c0;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.8s ease;
}

.news_card .info p {
  font-weight: 600;
  border-bottom: 1px solid #313131;
  text-align: center;
}

.news_card .info:hover {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .news_wrap {
    width: 1200px;
    display: flex;
    margin: auto;
  }

  .news_card {
    width: 33.33333%;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px #c5c2c2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .news_wrap {
    width: 100%;
    display: flex;
    margin: auto;
  }

  .news_card {
    width: 33.33333%;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px #c5c2c2;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner_wrap .pic img {
    height: 300px;
  }
  .news_wrap {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .news_card {
    width: 100%;
    margin: 20px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
  .banner_wrap .pic img {
    height: 400px;
  }
  .news_page_title::after,
  .news_page_title::before {
    display: none;
  }
  .news_wrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .news_card {
    width: 100%;
    margin: 20px 0;
  }
}
@media screen and (max-width: 479px) {
  .banner_wrap .pic img {
    height: 200px;
  }
  .news_page_title::after,
  .news_page_title::before {
    display: none;
  }
  .news_wrap {
    width: 90%;
    margin: auto;
  }
  .news_card {
    width: 100%;
    margin: 20px 0;
  }
}
